In [1]:
## Pandas practice
## 2021.01.29
## JeongHyeon Kim

## Pandas

In [50]:
import pandas as pd
import numpy as np
from datetime import datetime, date

In [4]:
# Series - 1차원 배열 같은 자료구조
# 어떠한 Numpy 자료형이라도 저장 가능
# Numpy의 배열과 다른 점은 Index 이름을 가지고 있음

In [6]:
s = pd.Series([10, 11, 12, 13, 14])

In [9]:
pd.Series(['삼성전자', '엘지전자', 'SK하이닉스', '엘지화학'])

0      삼성전자
1      엘지전자
2    SK하이닉스
3      엘지화학
dtype: object

In [11]:
# 리스트 연산 결과를 Series에 입력
pd.Series([2]*5)

0    2
1    2
2    2
3    2
4    2
dtype: int64

In [14]:
a = {"삼성전자" : "가전",
    "엘지화학" : "화학",
    "신세계" : "유통"}

In [15]:
a['신세계']

'유통'

In [16]:
b = pd.Series(a)

In [19]:
b

삼성전자    가전
엘지화학    화학
신세계     유통
dtype: object

In [20]:
b['신세계']

'유통'

In [21]:
pd.Series(np.arange(4, 9))

0    4
1    5
2    6
3    7
4    8
dtype: int32

In [23]:
pd.Series(np.linspace(0, 9, 5))

0    0.00
1    2.25
2    4.50
3    6.75
4    9.00
dtype: float64

In [24]:
np.random.seed(42)
pd.Series(np.random.normal(size=5))

0    0.496714
1   -0.138264
2    0.647689
3    1.523030
4   -0.234153
dtype: float64

In [25]:
c = pd.Series([1,2,3])

In [27]:
# Series의 values는 실제 값을 출력
c.values

array([1, 2, 3], dtype=int64)

In [28]:
# Series의 index는 idex값을 출력
c.index

RangeIndex(start=0, stop=3, step=1)

In [29]:
# Series의 size는 크기를 출력
c.size

3

In [30]:
len(c)

3

In [31]:
# Series의 shape는 구조를 출력
c.shape

(3,)

In [32]:
labels = ['철수', '영희', '현수', '포피']
role = ['Dad', 'Mom', 'Son', 'Dog']

In [44]:
s = pd.Series(labels, index= role)

In [45]:
s

Dad    철수
Mom    영희
Son    현수
Dog    포피
dtype: object

In [46]:
s.head(2)

Dad    철수
Mom    영희
dtype: object

In [49]:
s.tail(2)

Son    현수
Dog    포피
dtype: object

In [51]:
s.shape

(4,)

In [52]:
s1 = pd.Series(np.arange(10,15), index=list('abcde'))

In [53]:
s1

a    10
b    11
c    12
d    13
e    14
dtype: int32

In [54]:
s1['d']

13

In [55]:
s1[['a', 'd']]

a    10
d    13
dtype: int32

In [57]:
s2 = pd.Series(np.arange(10, 15), index=range(1,6))

In [58]:
s2

1    10
2    11
3    12
4    13
5    14
dtype: int32

In [59]:
# Series의 경우 인덱스 이름으로 불러오기에 파이썬 순서랑 다를 수도..
s2[3]

12

In [61]:
# 그래서 s2[0]을 하면 error가 발생.
s2[0]

KeyError: 0

## DataFrame은 pd.DataFrame()으로 생성

In [62]:
df_1 = pd.DataFrame(np.arange(1,10))

In [63]:
df_1

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [64]:
df_1.shape

(9, 1)

In [65]:
df = pd.DataFrame(np.array([[10,11], [20,21]]))

In [66]:
df

    0   1
0  10  11
1  20  21

In [67]:
df = pd.DataFrame(np.array([[50, 51], [60, 61]]),
                 columns=['A', 'B'])

In [68]:
df

    A   B
0  50  51
1  60  61

In [76]:
# dict형식으로 DataFrame 만들기
df_dict = {'A' : [50, 51],
          'B' : [60, 61]}

In [77]:
df_dict

{'A': [50, 51], 'B': [60, 61]}

In [78]:
pd.DataFrame(df_dict)

    A   B
0  50  60
1  51  61

In [80]:
# 이중 리스트의 값으로 DataFrame 만들기
tmp1 = pd.Series([50, 60])
tmp2 = pd.Series([11, 21])
df = pd.DataFrame([tmp1, tmp2])
df

    0   1
0  50  60
1  11  21

In [81]:
# column 이름 변경 혹은 붙이기
df.columns

RangeIndex(start=0, stop=2, step=1)

In [84]:
df.columns = ['A', 'B']
df

    A   B
0  50  60
1  11  21

## 웹 상의 Data를 DataFrame으로 만들기

In [89]:
# http://finance.naver.com/item/sise_day.nhn?code=105560&page=1
kb = pd.read_html("http://finance.naver.com/item/sise_day.nhn?code=105560&page=3")[0]

ValueError: No tables found

## Idexing을 위해서 기억해야할 2가지 method

In [91]:
 s1 = pd.Series(np.arange(10, 15), index = list('abcde'))

In [92]:
s1

a    10
b    11
c    12
d    13
e    14
dtype: int32

In [95]:
# iloc는 인덱스 레이블이 아니라 제로베이스 포지션 정보를 기반으로 조회
s1.iloc[[0, 2]]

a    10
c    12
dtype: int32

In [96]:
# loc는 레이블로 검색
s1.loc[['a', 'd']]

a    10
d    13
dtype: int32

In [105]:
s = pd.Series(np.arange(100, 110), index = np.arange(10, 20))
s[1:6]

11    101
12    102
13    103
14    104
15    105
dtype: int32

In [98]:
s.iloc[[1,2,3,4]]

11    101
12    102
13    103
14    104
dtype: int32

In [107]:
s

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
18    108
19    109
dtype: int32

In [109]:
s[[10,11,12,19]]

10    100
11    101
12    102
19    109
dtype: int32

In [110]:
# :: 전체 데이터, step = 3
s[::3]

10    100
13    103
16    106
19    109
dtype: int32

In [111]:
s3 = pd.Series(np.arange(0, 5), index=list('abcde'))

In [112]:
s3

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [113]:
s3 > 1

a    False
b    False
c     True
d     True
e     True
dtype: bool

In [114]:
s3[s3 > 1]

c    2
d    3
e    4
dtype: int32

In [115]:
# numpy를 사용하는 데이터 형에서 and, or 연산
# and : &
# or: |
(s3 > 1) & (s3 < 3)

a    False
b    False
c     True
d    False
e    False
dtype: bool

## 날짜 계산하기(offset)

In [123]:
day_ = datetime(2020, 1, 29)
offset = pd.DateOffset(days = 1)
day_ + offset

Timestamp('2020-01-30 00:00:00')

In [124]:
d = datetime(2020, 1, 29)

In [125]:
from pandas.tseries.offsets import * # *은 모든 기능을 불러옴
d + BusinessDay()

Timestamp('2020-01-30 00:00:00')

In [126]:
d + 2 * BusinessDay()

Timestamp('2020-01-31 00:00:00')

In [127]:
# offset을 활용한 워킹데이 구하기
for x in range(1, 30):
    print(d + x*BusinessDay())

2020-01-30 00:00:00
2020-01-31 00:00:00
2020-02-03 00:00:00
2020-02-04 00:00:00
2020-02-05 00:00:00
2020-02-06 00:00:00
2020-02-07 00:00:00
2020-02-10 00:00:00
2020-02-11 00:00:00
2020-02-12 00:00:00
2020-02-13 00:00:00
2020-02-14 00:00:00
2020-02-17 00:00:00
2020-02-18 00:00:00
2020-02-19 00:00:00
2020-02-20 00:00:00
2020-02-21 00:00:00
2020-02-24 00:00:00
2020-02-25 00:00:00
2020-02-26 00:00:00
2020-02-27 00:00:00
2020-02-28 00:00:00
2020-03-02 00:00:00
2020-03-03 00:00:00
2020-03-04 00:00:00
2020-03-05 00:00:00
2020-03-06 00:00:00
2020-03-09 00:00:00
2020-03-10 00:00:00

In [131]:
# 3주전을 시작으로 처음 시작하는 0:월요일 ~ 6:일요일
d -3 * Week(weekday = 0)

Timestamp('2020-01-13 00:00:00')

In [132]:
# W-SUN ~ W-SAT
fridays = pd.date_range('2020-1-13', '2020-01-30', freq='W-FRI')

In [135]:
fridays

DatetimeIndex(['2020-01-17', '2020-01-24'], dtype='datetime64[ns]', freq='W-FRI')

In [136]:
# Period() method
aug = pd.Period('2020-1', freq='M')

In [137]:
aug

Period('2020-01', 'M')

In [138]:
aug.start_time

Timestamp('2020-01-01 00:00:00')

In [139]:
aug.end_time

Timestamp('2020-01-31 23:59:59.999999999')

In [140]:
aug + 1

Period('2020-02', 'M')

In [142]:
aug = pd.Period('2019-8', freq='M')
for x in range(1, 10):
    aug += 1
    print(aug.start_time, aug.end_time)

2019-09-01 00:00:00 2019-09-30 23:59:59.999999999
2019-10-01 00:00:00 2019-10-31 23:59:59.999999999
2019-11-01 00:00:00 2019-11-30 23:59:59.999999999
2019-12-01 00:00:00 2019-12-31 23:59:59.999999999
2020-01-01 00:00:00 2020-01-31 23:59:59.999999999
2020-02-01 00:00:00 2020-02-29 23:59:59.999999999
2020-03-01 00:00:00 2020-03-31 23:59:59.999999999
2020-04-01 00:00:00 2020-04-30 23:59:59.999999999
2020-05-01 00:00:00 2020-05-31 23:59:59.999999999

In [143]:
# period_range() method
pr = pd.period_range('2019-1-1', '2019-12-31', freq = 'M')

In [144]:
pr

PeriodIndex(['2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
             '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12'],
            dtype='period[M]', freq='M')

In [145]:
pr[0].start_time

Timestamp('2019-01-01 00:00:00')

In [146]:
pr[0].end_time

Timestamp('2019-01-31 23:59:59.999999999')

## merge, concat, cut

In [161]:
import requests
import json

In [162]:
# 새로운 행 추가
# wti 유가 정보 받아오기
wti_url = "https://finance.naver.com/marketindex/worldDailyQuote.nhn?marketindexCd=OIL_CL&fdtc=2&page=1"

In [163]:
original_wti_1 = pd.read_html(wti_url)[0]
original_wti_1

           날짜   파실 때  보내실 때   받으실 때
0  2021.01.28  52.34   0.51  -0.96%
1  2021.01.27  52.85   0.24  +0.45%
2  2021.01.26  52.61   0.16  -0.30%
3  2021.01.25  52.77   0.50  +0.95%
4  2021.01.22  52.27   0.86  -1.61%
5  2021.01.21  53.13   0.18  -0.33%
6  2021.01.20  53.31   0.33  +0.62%

In [164]:
wti_url = "https://finance.naver.com/marketindex/worldDailyQuote.nhn?marketindexCd=OIL_CL&fdtc=2&page={}"
for x in range(2, 5):
    original_wti_2 = original_wti.append(pd.read_html(wti_url.format(x))[0])

In [165]:
# 인덱스가 정렬되지 않는 것을 확인할 수 있음 // 인덱스 중복
original_wti_2

           날짜   파실 때  보내실 때   받으실 때
0  2021.01.28  52.34   0.51  -0.96%
1  2021.01.27  52.85   0.24  +0.45%
2  2021.01.26  52.61   0.16  -0.30%
3  2021.01.25  52.77   0.50  +0.95%
4  2021.01.22  52.27   0.86  -1.61%
5  2021.01.21  53.13   0.18  -0.33%
6  2021.01.20  53.31   0.33  +0.62%
0  2021.01.19  52.98   0.56  +1.06%
1  2021.01.15  52.36   1.21  -2.25%
2  2021.01.14  53.57   0.66  +1.24%
3  2021.01.13  52.91   0.30  -0.56%
4  2021.01.12  53.21   0.96  +1.83%
5  2021.01.11  52.25   0.01  +0.01%
6  2021.01.08  52.24   1.41  +2.77%
0  2021.01.07  50.83   0.20  +0.39%
1  2021.01.06  50.63   0.70  +1.40%
2  2021.01.05  49.93   2.31  +4.85%
3  2021.01.04  47.62   0.90  -1.85%
4  2020.12.31  48.52   0.12  +0.24%
5  2020.12.30  48.40   0.40  +0.83%
6  2020.12.29  48.00   0.38  +0.79%
0  2020.12.28  47.62   0.61  -1.26%
1  2020.12.24  48.23   0.11  +0.22%
2  2020.12.23  48.12   1.10  +2.33%
3  2020.12.22  47.02   0.95  -1.98%
4  2020.12.21  47.97   1.27  -2.57%
5  2020.12.18  49.24   0.70  +1.44%
6  2020.12.17  48.36   0.54  +1.12%
0  2020.12.28  47.62   0.61  -1.26%
1  2020.12.24  48.23   0.11  +0.22%
2  2020.12.23  48.12   1.10  +2.33%
3  2020.12.22  47.02   0.95  -1.98%
4  2020.12.21  47.97   1.27  -2.57%
5  2020.12.18  49.24   0.70  +1.44%
6  2020.12.17  48.36   0.54  +1.12%

In [166]:
# concat()
# pandas.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
# keys=None, levels=None, names=None, verify_integrity=False, sort=None, copy=True)
# DataFrame에 행, 열을 추가할 때 사용
# pd.cancat()의 매개변수 axis=1 이면 열, 0으로 지정하면 행으로 처리

In [167]:
original_wti = pd.DataFrame()
for x in range(1, 6):
    original_wti = pd.concat([original_wti, pd.read_html(wti_url.format(x))[0]])

In [168]:
original_wti.dropna(inplace=True) # 결측치 제거

In [169]:
original_wti

           날짜   파실 때  보내실 때   받으실 때
0  2021.01.28  52.34   0.51  -0.96%
1  2021.01.27  52.85   0.24  +0.45%
2  2021.01.26  52.61   0.16  -0.30%
3  2021.01.25  52.77   0.50  +0.95%
4  2021.01.22  52.27   0.86  -1.61%
5  2021.01.21  53.13   0.18  -0.33%
6  2021.01.20  53.31   0.33  +0.62%
0  2021.01.19  52.98   0.56  +1.06%
1  2021.01.15  52.36   1.21  -2.25%
2  2021.01.14  53.57   0.66  +1.24%
3  2021.01.13  52.91   0.30  -0.56%
4  2021.01.12  53.21   0.96  +1.83%
5  2021.01.11  52.25   0.01  +0.01%
6  2021.01.08  52.24   1.41  +2.77%
0  2021.01.07  50.83   0.20  +0.39%
1  2021.01.06  50.63   0.70  +1.40%
2  2021.01.05  49.93   2.31  +4.85%
3  2021.01.04  47.62   0.90  -1.85%
4  2020.12.31  48.52   0.12  +0.24%
5  2020.12.30  48.40   0.40  +0.83%
6  2020.12.29  48.00   0.38  +0.79%
0  2020.12.28  47.62   0.61  -1.26%
1  2020.12.24  48.23   0.11  +0.22%
2  2020.12.23  48.12   1.10  +2.33%
3  2020.12.22  47.02   0.95  -1.98%
4  2020.12.21  47.97   1.27  -2.57%
5  2020.12.18  49.24   0.70  +1.44%
6  2020.12.17  48.36   0.54  +1.12%
0  2020.12.16  47.82   0.20  +0.42%
1  2020.12.15  47.62   0.63  +1.34%
2  2020.12.14  46.99   0.42  +0.90%
3  2020.12.11  46.57   0.21  -0.44%
4  2020.12.10  46.78   1.26  +2.76%
5  2020.12.09  45.52   0.08  -0.17%
6  2020.12.08  45.60   0.16  -0.34%

In [172]:
# 컬럼 축으로 합치기
cut_wti_1 = original_wti.iloc[:5]
cut_wti_2 = original_wti.iloc[5:10]

In [173]:
pd.concat([cut_wti_1, cut_wti_2], axis = 1)

           날짜   파실 때  보내실 때   받으실 때          날짜   파실 때  보내실 때   받으실 때
0  2021.01.28  52.34   0.51  -0.96%  2021.01.19  52.98   0.56  +1.06%
1  2021.01.27  52.85   0.24  +0.45%  2021.01.15  52.36   1.21  -2.25%
2  2021.01.26  52.61   0.16  -0.30%  2021.01.14  53.57   0.66  +1.24%
3  2021.01.25  52.77   0.50  +0.95%         NaN    NaN    NaN     NaN
4  2021.01.22  52.27   0.86  -1.61%         NaN    NaN    NaN     NaN
5         NaN    NaN    NaN     NaN  2021.01.21  53.13   0.18  -0.33%
6         NaN    NaN    NaN     NaN  2021.01.20  53.31   0.33  +0.62%

In [181]:
# del을 이용한 컬럼 삭제
del original_wti['날짜']

KeyError: '날짜'

In [183]:
original_wti

    파실 때  보내실 때   받으실 때
0  52.34   0.51  -0.96%
1  52.85   0.24  +0.45%
2  52.61   0.16  -0.30%
3  52.77   0.50  +0.95%
4  52.27   0.86  -1.61%
5  53.13   0.18  -0.33%
6  53.31   0.33  +0.62%
0  52.98   0.56  +1.06%
1  52.36   1.21  -2.25%
2  53.57   0.66  +1.24%
3  52.91   0.30  -0.56%
4  53.21   0.96  +1.83%
5  52.25   0.01  +0.01%
6  52.24   1.41  +2.77%
0  50.83   0.20  +0.39%
1  50.63   0.70  +1.40%
2  49.93   2.31  +4.85%
3  47.62   0.90  -1.85%
4  48.52   0.12  +0.24%
5  48.40   0.40  +0.83%
6  48.00   0.38  +0.79%
0  47.62   0.61  -1.26%
1  48.23   0.11  +0.22%
2  48.12   1.10  +2.33%
3  47.02   0.95  -1.98%
4  47.97   1.27  -2.57%
5  49.24   0.70  +1.44%
6  48.36   0.54  +1.12%
0  47.82   0.20  +0.42%
1  47.62   0.63  +1.34%
2  46.99   0.42  +0.90%
3  46.57   0.21  -0.44%
4  46.78   1.26  +2.76%
5  45.52   0.08  -0.17%
6  45.60   0.16  -0.34%

In [188]:
# 객체의 속성 정보
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [189]:
# merge()
# 공통 컬럼이 있으면 기준으로하여 조인
# 두 DataFrame을 포함하는 새로운 DataFrame을 생성
# 인덱스값 새로 생성
cut_wti_1.merge(cut_wti_2, on=['날짜'])
# 같은 날짜가 없으니 아무것도 생성 안된 것.
# 매개변수 how = 'right', 'left', 'outer' 를 사용해서 위치도 설정가능

Empty DataFrame
Columns: [날짜, 파실 때_x, 보내실 때_x, 받으실 때_x, 파실 때_y, 보내실 때_y, 받으실 때_y]
Index: []